@model CRMEntities.Home

@{
    ViewBag.Title = "CRM";
}

<div id="WelcomeMessage" style="text-align:center;">
    <h2>Dashboard</h2>
    <hr />
</div>

<input id="month-data-container" type="hidden" />
<div class="calendar-container"></div>

<div onclick="hideModal('calendar-detail')" id="calendar-detail" class="modal">
    <div class="modal-content w50">
        Date: <label id="date"></label>
        <br />
        Contact: <label id="contact"></label>
        <br />
        Note: <label id="note"></label>
    </div>
</div>

